body{
    background-color: #1a1a1a;
}

button:focus {
    outline: 0;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
}

.mybutton {
    background-color: #F5B00E;
    color: white;
    padding: 10px 30px;
    font-weight: 500;

}
.mybuttondark {
    background-color: #1A1A1A;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    font-weight: 500;

}

.mybuttondark:hover {
    color: #F5B00E;
}

.myyellowbackground{
    background-color: #F5B00E;
}

/* .navbar {
    background-color: rgba(87, 16, 16);
} */